
.login .login-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}
.login .login-link {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 5px;
  border: none;
}

.login .profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%; 
}
.MuiButton-root.login-bttn  {
  color: white ;
}
