.login .login-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.login .login-link:hover {
  transform: scale(1.10);
}

.login .login-link {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 1rem;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgb(8, 79, 45);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.login .profile-image {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  border-radius: 50%;
}

.MuiButton-root.login-bttn {
  color: white;
}

.user-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
  object-fit: cover; 
}